<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="couchbase.bucket.projectTreeNode" value="Test_ProjectTreeNode" />
    <add key="couchbase.credentials.username" value="Administrator" />
    <add key="couchbase.credentials.password" value="password" />
    <add key="couchbase.url.host" value="localhost" />
    <add key="couchbase.url.port" value="8091" />
  </appSettings>
</configuration>